apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "go-image.fullname" . }}
  labels:
    app: {{ include "go-image.name" . }}
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: {{ include "go-image.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "go-image.name" . }}
        owner: {{ .Values.deployedBy | quote }}
      annotations:
        # Ключевой трюк: меняется configmap (картинка) → меняется checksum → Kubernetes делает rollout
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
    spec:
      containers:
        - name: app
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          env:
            - name: DEPLOYED_BY
              value: {{ .Values.deployedBy | quote }}
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 2
            periodSeconds: 3
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          volumeMounts:
            - name: image
              mountPath: /data
              readOnly: true
      volumes:
        - name: image
          configMap:
            name: {{ include "go-image.fullname" . }}-image
